@import "tailwindcss";



@layer base {
  :root {
    --font-pretendard: "Pretendard";
  }

  body {
    font-family: var(--font-pretendard);
    scrollbar-gutter: stable;
  }
}


@theme {
  --breakpoint-*: initial;
  --breakpoint-tablet: 40rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 80rem;


  --line-height-default: 1.5;

  --color-neutral-1000: #D2D2D2;
  --color-neutral-900: #2a323f;
  --color-neutral-700: #596373;
  --color-neutral-500: #828b9a;
  --color-neutral-400: #a0a7b2;
  --color-neutral-300: #c7cbd2;
  --color-neutral-200: #dde0e5;
  --color-neutral-100: #eaecf0;
  --color-neutral-50:  #f0f2f7;

  --color-primary-700: #2C3374;
  --color-primary-600: #3b4599;
  --color-primary-300: #8d98ff;
  --color-terms-required: #FB2C5D;
  --color-kakao: #FEE500;

  --color-onboarding-photo: #FAFAFA;
  --color-onboarding: #F0F7FF;

  --color-landing-shadow: #BDC3FB;
  --color-landing-back: #C9CEF6;
  --color-landing-how-it-works: #E1E3F7;
  --color-landing-how-it-works-step: #3745C3;
  
  --color-toast-background: #797979;
  --color-review-rotate: #C7CBEC;
  --color-review-summary: #E3E6FE;
  --color-fitting-company: #767676;
  --color-verifying-border: #C4DEFF;
  --color-verifying: #E7F1FF;


  --shadow-0: 0px 0px 0px rgba(0, 0, 0, 0.05);
  --shadow-2: 0px 2px 2px rgba(0, 0, 0, 0.25);
  --shadow-4: 0px 2px 6px rgba(0, 0, 0, 0.10);
  --shadow-8: 0px 2px 5px rgba(0, 0, 0, 0.15);
  --shadow-12: 0px 0px 8px rgba(0, 0, 0, 0.15);
  --shadow-16: 0px 1px 5px rgba(0, 0, 0, 0.20);
  --shadow-photo: 0px 8px 4px rgba(0, 0, 0, 0.15);
}

@layer utilities {
  .no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
	.no-scrollbar::-webkit-scrollbar {
		display: none; /* Chrome, Safari, Opera */
	}

  .text-not-found {
    font-size: 60px;
    font-weight: 700;
  }
    /* 스크롤은 유지 + 스크롤바만 숨김 */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }

  .text-bold-24 {
    font-size: 24px;
    font-weight: 700;
  }

  .text-bold-20 {
    font-size: 20px;
    font-weight: 700;
  }

  .text-bold-18 {
    font-size: 18px;
    font-weight: 700;
  }

  .text-bold-16 {
    font-size: 16px;
    font-weight: 700;
  }

  .text-semibold-24 {
    font-size: 20px;
    font-weight: 600;
  }

  .text-semibold-20 {
    font-size: 20px;
    font-weight: 600;
  }

  .text-semibold-18 {
    font-size: 18px;
    font-weight: 600;
  }

  .text-semibold-16 {
    font-size: 16px;
    font-weight: 600;
  }

  .text-semibold-14 {
    font-size: 14px;
    font-weight: 600;
  }

  .text-medium-20 {
    font-size: 20px;
    font-weight: 500;
  }

  .text-medium-18 {
    font-size: 18px;
    font-weight: 500;
  }

  .text-medium-16 {
    font-size: 16px;
    font-weight: 500;
  }

  .text-medium-14 {
    font-size: 14px;
    font-weight: 500;
  }

  .text-medium-12 {
    font-size: 12px;
    font-weight: 500;
  }

  .text-medium-10 {
    font-size: 10px;
    font-weight: 500;
  }

  .text-regular-18 {
    font-size: 18px;
    font-weight: 400;
  }

  .text-regular-16 {
    font-size: 16px;
    font-weight: 400;
  }

  .text-regular-14 {
    font-size: 14px;
    font-weight: 400;
  }

  .text-regular-12 {
    font-size: 12px;
    font-weight: 400;
  }

  .text-regular-10 {
    font-size: 10px;
    font-weight: 400;
  }

  .font-anonymous {
   font-family: "Anonymous Pro", monospace;
 }

 .font-inter {
   font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
 }


.bg-brand-gradient {
  background: linear-gradient(
    195deg,
    var(--color-primary-300) 0%,
    #f5f7ff 45%,
    var(--color-primary-600) 100%
  );
}

.bg-phone-gradient {
  background:
  radial-gradient(
      farthest-corner circle in oklab,
      #BDC3FB 10%, #FFFFFF 55%
    )
}

.bg-phone-two-gradient {
  background: linear-gradient(
    in oklab,
    #FFFFFF 0%, var(--color-landing-back) 67%
  )
}


.bg-landing-footer-gradient {
  background: linear-gradient(
    to top in oklab,
    #FFFFFF 60%, 76%, var(--color-landing-how-it-works) 94%
  )
}


  /* =========================
    SWIPER
     ========================= */
  /* 새로운 폰트 추가 */

    /* 반응형을 위한 추가 */

  .text-regular-only {
    font-weight: 400;
  }
  .text-medium-only {
    font-weight: 500;
  }
  .text-semibold-only {
    font-weight: 600;
  }
  .text-bold-only {
    font-weight: 700;
  }

  .text-14-only { font-size: 14px; }
  .text-16-only { font-size: 16px; }
  .text-18-only { font-size: 18px; }
  .text-20-only { font-size: 20px; }



  /* pagination 위치 */
  .photo-swiper .swiper-pagination {
    @apply !bottom-0 !flex justify-center !items-center;
  }

  /* dot 기본 스타일 */
  .photo-swiper .swiper-pagination-bullet {
    @apply !w-2 !h-2 !rounded-full !opacity-100 !bg-[#D9D9D9];
  }

  /* dot 활성화 */
  .photo-swiper .swiper-pagination-bullet-active {
    @apply !bg-primary-600 !w-2.5 !h-2.5 ;
  }
}

@custom-variant tablet (min-width: var(--breakpoint-tablet));
@custom-variant laptop (min-width: var(--breakpoint-laptop));
@custom-variant desktop (min-width: var(--breakpoint-desktop));

  /* =========================
    Callout Bracket COMPONENT
     ========================= */
  
  .callout-bracket {
    position: relative;
    width: 16px;
    height: 100%;
    border-right: 1.5px solid var(--color-primary-600);
    border-top: 1.5px solid var(--color-primary-600);
    border-bottom: 1.5px solid var(--color-primary-600);
    border-radius: 0 4px 4px 0;
  }

  /* 가로 라인 */
  .callout-bracket::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 12px;
    height: 1.5px;
    background: var(--color-primary-600);
    transform: translateY(-50%);
  }

  .callout-bracket-only {
    position: relative;
    width: 24px;
    height: 1.5px;
    background: var(--color-primary-600);
    transform: translateY(-50%);
  }

  /* 점 */
  .callout-bracket::before {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(100% + 12px);
    width: 6px;
    height: 6px;
    background: var(--color-primary-600);
    border-radius: 9999px;
    transform: translateY(-50%);
  }

   .callout-bracket-only::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 98%;
    width: 6px;
    height: 6px;
    background: var(--color-primary-600);
    border-radius: 9999px;
    transform: translateY(-50%);
  }


  .arrow-text {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  color: var(--color-primary-600);
  border-left: 4px solid currentColor;
  border-bottom: 4px solid currentColor;
  transform: rotate(-45deg);
  margin: 0 auto 6px;
}

    /* =========================
    ANIMATION
     ========================= */

    @keyframes frame-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes guide-in {
    0% {
      opacity: 0;
      transform: translateY(-30px); /* -10 */
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes text-fade-slide {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes clothes-motion {
  0% {margin-top: 0px;}
	20% {margin-top: 10px;}
	40% {margin-top: 0px;}
	60% {margin-top: 10px;}
	80% {margin-top: 0px;}
	100% {margin-top: 0px;}
}

  @keyframes fade-in-right {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

  @-webkit-keyframes fade-in-right {
      0% {
          opacity: 0;
          transform: translate3d(100%, 0, 0);
      }

      to {
          opacity: 1;
          transform: translateZ(0);
      }
  }

  @keyframes fade-in-left {
      0% {
          opacity: 0;
          transform: translate3d(-100%, 0, 0);
      }

      to {
          opacity: 1;
          transform: translateZ(0);
      }
  }

  @-webkit-keyframes fade-in-left {
      0% {
          opacity: 0;
          transform: translate3d(-100%, 0, 0);
      }

      to {
          opacity: 1;
          transform: translateZ(0);
      }
  }


  @keyframes infinite-slide-original {
      0% {
          transform: translateX(0);
      }

      50% {
          transform: translateX(-100%);
      }
      50.1% {
          transform: translateX(100%);
      }
      100% {
          transform: translateX(0);
      }
  }
    @keyframes infinite-slide-copy {
      0% {
          transform: translateX(0);
      }
      100% {
          transform: translateX(-200%);
      }
  }

      @keyframes infinite-fade {
      0% {
            opacity: 0;      
      }
      50% {
            opacity: 1;      
      }   
      100% {
            opacity: 0;      
      }
  }



  .animate-frame-in {
    animation: frame-in 1.5s forwards;
  }

  .animate-infinite-fade {
    animation: infinite-fade 2s infinite;
  }
  .animate-guide-in {
    animation: guide-in 0.8s ease-out forwards;
  }

 .animate-clothes-motion  {
    animation: clothes-motion  1.3s linear 0s infinite;
  }
  .animate-fade-in-right{
    position: relative;
    animation: fade-in-right 3s forwards;
    -webkit-animation: fade-in-right 3s forwards;
}

  .animate-fade-in-left {
    position: relative;
    animation: fade-in-left 3s forwards;
    -webkit-animation: fade-in-left 3s forwards;
}

  .animation-paused {
    animation-play-state: paused;
  }
  
  .animation-infinite-slide-original {
    animation: infinite-slide-original 20s linear infinite;
  }
  .animation-infinite-slide-copy {
    animation: infinite-slide-copy 20s linear infinite;
  }


  .animation-infinite-slide-original,
  .animation-infinite-slide-copy {
    will-change: transform;
  }

  .animate-text-change {
  animation: text-fade-slide 0.25s ease-out;
}
  @media (prefers-reduced-motion: reduce) {
  .animation-infinite-slide-original,
  .animation-infinite-slide-copy {
    animation: none;
  }
}


